@import "./fonts.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  transition: 0.2s linear;
  background: var(--black);
}

body.white {
  --menu-bg: rgba(255, 255, 255, 0.9);
  --hero: url("../img/hero-white.jpg") no-repeat center/cover;
  --black: #f9f9fa;
  --light: #000000;
  --orange: #f69402;
  --orange-hover: #9b5f04;
  --box-shadow: inset -50px -220px 100px -30px #ffffff;
  --border-bottom: solid #3b3a3a 1px;
  --border: 1px solid rgb(76 71 65);
}

:root {
  --menu-bg: rgba(0, 0, 0, 0.9);
  --hero: url("../img/hero5.jpg") no-repeat center/cover;
  --hero-right: url("../img/hero5.jpg") no-repeat right/cover;
  --black: #000000;
  --light: #FFFFFF;
  --orange: #FBD784;
  --orange-hover: #b66109;
  --box-shadow: inset 100px -220px 100px 15px #000;
  --border-bottom: solid #a19e9e 1px;
  --border: 1px solid rgb(76 71 65);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.d-flex {
  display: flex;
}

.f-column {
  flex-direction: column;
}

.container {
  max-width: 1120px;
  padding: 0 10px;
  margin: 0 auto;
}


.section__subtitle {
  position: relative;
  margin-left: 80px;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: var(--orange);
}

.section__subtitle:before {
  content: "";
  position: absolute;
  left: -70px;
  bottom: 12px;
  width: 52px;
  height: 2px;
  background: var(--orange);
}

.section__title {
  margin: 27px 0;
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;
  color: var(--light);
}

.section__desc {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: var(--light);
}

.section__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--orange);
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    color: var(--orange);
  }
}

.header {
  position: fixed;
  width: 100%;
  z-index: 50;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #000000c2;
  }

  &__container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 10px;
  }

  &__body {
    position: relative;
    height: 80px;
  }

  &__btn {
    position: relative;
    z-index: 3;
    width: 60px;
    height: 34px;
  }

  &__burger {
    display: none;
  }

  &__label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  &__input {
    display: none;

    &:checked + .header__slider {
      background: #b66109;
    }

    &:checked + .header__slider:before {
      transform: translateX(26px);
    }
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #b66109;
    border-radius: 34px;
    transition: 0.4s;

    &:before {
      content: '';
      position: absolute;
      width: 26px;
      height: 26px;
      left: 4px;
      bottom: 4px;
      background: #FFFFFF;
      border-radius: 50%;
      transition: 0.4s;
    }
  }

  &__list {
    position: relative;
    z-index: 2;
    display: flex;
    margin-bottom: auto;

    & li {
      list-style: none;
      margin: 0 0 0 20px;
    }
  }

  &__link {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 25px;
    color: #fff;
    transition: 0.3s;

    &:hover {
      color: #FFC178;
      border-bottom: solid 1px #FFC178;
    }
  }

}

.hero {
  padding: 180px 0 0 300px;
  height: 120vh;
  width: 100%;
  background: var(--hero);
  box-shadow: var(--box-shadow);

  &__icons {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 57px;
    top: 235px;
    transition: .3s;

    & .fa-brands {
      color: var(--orange);
      margin: 25px;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__follow {
    position: absolute;
    left: 53px;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    color: #FFFFFF;
    transform: rotate(90deg);
  }

  &__content {
    max-width: 850px;
    height: 400px;
  }

  &__subtitle {
    margin-left: 80px;
    position: relative;
    font-weight: 700;
    color: var(--black);
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 6px;
    text-transform: uppercase;

    &:before {
      content: "";
      position: absolute;
      left: -70px;
      bottom: 12px;
      width: 52px;
      height: 2px;
      background: var(--black);
    }
  }

  &__title {
    margin: 15px 0 70px;
    font-weight: 400;
    font-size: 72px;
    line-height: 100px;
    letter-spacing: 5px;
    text-transform: capitalize;
    color: #ffffff;

    &_bold {
      font-weight: 700;
    }
  }

  &__btn {
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    text-align: center;
    margin-left: 200px;
    width: 150px;
    height: 50px;
    background: rgba(235, 120, 0, 0.40);
    border-radius: 8px;
    transition: 0.3s;

    &:hover {
      color: #000000;
      background: rgba(235, 120, 0, 0.7);
    }
  }
}

.rest {
  position: relative;
  padding-bottom: 50px;

  &__img {
    position: relative;
    top: -100px;
    max-width: 400px;
    max-height: 600px;
    margin-right: 100px;
    transition: 0.5s;
    background: url("../img/rest.jpg") no-repeat center/cover;

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__img:hover {
    transform: scale(1.1);
    box-shadow: -39px 28px 30px rgb(121 112 54 / 50%);
  }

  &__img_link:before {
    content: ">";
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 130px;
    z-index: 5;
    height: 36%;
    width: 27%;
    cursor: pointer;
    color: #FFFFFF;
    border-radius: 60px 0 60px 0;
    background: #000000db;
    transition: 0.3s;
  }

  &__img_link:hover:before {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
  }

  &__content {
    margin: 88px 0 0 0;
    position: relative;
    top: -100px;
  }

  &__title {
    width: 400px;
  }

  &__desc {
    margin-bottom: 27px;
    width: 600px;
  }
}
.resorts {

  padding: 150px 0;

  &__content{
    margin: 50px 0 0 0;
  }
  &__img{
    position: relative;
    margin-left: 100px;
    max-width: 400px;
    max-height: 600px;
    transition: 0.5s;
    background: url("../img/cult.jpg") no-repeat center/cover;

    & img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__img:hover {
    transform: scale(1.1);
    box-shadow: -39px 28px 30px rgb(121 112 54 / 50%);
  }
  &__title {
    width: 400px;
  }
  &__desc {
    margin-bottom: 27px;
    width: 600px;
  }
}
.carousel {
  padding-bottom: 50px;

  &__content {
  }

  &__subtitle {
    position: relative;
    font-weight: 700;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;

    &:before {
      content: "";
      position: absolute;
      width: 50px;
      height: 2px;
      background: #FBD784;
      left: 240px;
      bottom: 12px;
    }

    &:after {
      content: "";
      position: absolute;
      width: 50px;
      height: 2px;
      background: #FBD784;
      right: 250px;
      bottom: 12px;
    }
  }

  &__title {
    max-width: 850px;
    font-weight: 700;
    font-size: 50px;
    line-height: 67px;
    text-align: center;
    color: #FFFFFF;
  }

  &__desc {
    width: 850px;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
  }

  &__link {
    text-align: center;
  }
}

.carousel-item img {
  width: 100%;
  height: 100%;
}


.popup__fixed {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: rgba(255, 255, 255, 0.01);
}

.culture {
  padding: 150px 0;

  &__content {
    margin: 88px 0 0 0;
  }

  &__img {
    position: relative;
    margin-left: 100px;
    max-width: 400px;
    max-height: 600px;
    transition: 0.5s;
    background: url("../img/cult.jpg") no-repeat center/cover;

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__img:hover {
    transform: scale(1.1);
    box-shadow: -39px 28px 30px rgb(121 112 54 / 50%);
  }
  &__title {
    width: 400px;
  }

  &__desc {
    margin-bottom: 27px;
    width: 600px;
  }
}
.food {

  padding: 150px 0;

  &__img {
    position: relative;
    max-width: 400px;
    max-height: 600px;
    margin-right: 100px;
    transition: 0.5s;
    background: url("../img/food2.jpg") no-repeat center/cover;

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__img:hover {
    transform: scale(1.1);
    box-shadow: -39px 28px 30px rgb(121 112 54 / 50%);
  }

  &__content {
    margin: 88px 0 0 0;
  }

  &__title {
    width: 400px;
  }

  &__desc {
    margin-bottom: 27px;
    width: 600px;
  }
}
.form {

  height: 100px;

  & .container {
    height: 100%;
    border-bottom: var(--border);
  }

  &__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 65px;
    text-transform: capitalize;
    color: var(--light);
  }

  &__subtitle {
    margin-right: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: var(--light);
  }

  &__btn {
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    color: #000000;
    width: 200px;
    height: 60px;
    background: #FFA343;
    border-radius: 8px;
    transition: 0.3s;

    &:hover {
      background: rgb(245, 127, 10);
    }

  }

}

.footer {

  padding: 50px 0 50px;

  &__form {
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: var(--light);
    margin-bottom: 40px;
  }

  &__mini_form {
    display: flex;
  }

  &__input {
    width: 250px;
    height: 50px;
    border: none;
    font-size: 18px;
    border-bottom: 1px solid #FFA343;
    color: var(--light);
    padding: 20px;
    outline: none;
    background: none;
  }

  &__btn {
    width: 50px;
    height: 50px;
    background: #FFA343;
    border-radius: 8px 8px 0 0;
    transition: 0.3s;

    &:hover {
      background: rgb(245, 127, 10);
    }
  }

  &__nav {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 25px;
    color: var(--orange);
    margin-bottom: 20px;
  }

  &__link {
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 18px;
    color: var(--light);
    transition: 0.3s;

    &:hover {
      color: var(--orange-hover);
    }
  }

  &__bottom {
    height: 100px;
    display: flex;
    margin-top: 50px;

    & .container {
      height: 100%;
    }
  }

  &__desc {
    margin-right: 50px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: var(--light);
  }

  &__icons .fa-brands {
    margin: 25px;
    color: var(--light);

    &:hover {
      transform: scale(1.2);
    }
  }
}


.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  z-index: 999;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
  }

  &__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
  }

  &__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__content {
    border-radius: 10px;
    color: #070707;
    max-width: 900px;
    padding: 20px;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    background: #ffffff;
  }

  &__video {
    max-width: 400px;
    max-height: 550px;

    & video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & #popup__video {
      width: 100%;
      height: 100%;

    }
  }

  &__form {
    margin: 20px 0 0 20px;
  }

  &__close {
    position: absolute;
    right: 8px;
    top: -4px;
    font-size: 25px;
    color: #070707;
    text-decoration: none;

    &:hover {
      color: #FFA343;
    }
  }

  &__title {
    font-size: 36px;
    margin: 0 0 1em 0;
    text-align: center;
  }
  &__subtitle{
    font-size: 30px;
    margin-bottom: 10px;
    text-align: left;
  }
  &__label {
    font-weight: 400;
    font-size: 17px;
    line-height: 16px;
    color: rgba(0, 0, 0,);
  }

  &__input {
    padding: 0 20px;
    margin: 11px 0;
    border: 1px solid #FFA343;
    border-radius: 5px;
    font-size: 17px;

    &::placeholder {
      color: rgb(7, 7, 7);
      font-size: 18px;
    }
  }

  &__sizing {
    border-radius: 5px;
    display: block;
    width: 370px;
    height: 35px;
  }

  &__btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    transition: 0.3s;
    margin-top: 20px;
    background: #FFA343;

    &:hover {
      background: #f17a11;
    }
  }

  &__grid {
    display: grid;
    grid-row-gap: 20px;
  }

  &__grid_img {
    max-width: 500px;
    max-height: 600px;

    & img {
      max-width: 500px;
      max-height: 600px;
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 30px;
  }

}



